# 🐍 Python кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# 📦 Игнорировать всё в test, кроме папки Scripts/myproject
test/*
!test/Scripts/
test/Scripts/*
!test/Scripts/myproject/

# 🗄️ Игнорируем миграции Django
backend/rentapp/migrations/*
!backend/rentapp/migrations/__init__.py

# ❌ Игнорируем виртуальное окружение
test/Lib/
test/Include/
test/Scripts/activate
test/Scripts/activate.bat

# 🧠 Исключаем модели и БД
*.db
*.sqlite3
*.pkl
*.pt
*.h5
*.joblib

# 🔒 Настройки окружения
.env
env.vps

# 💻 IDE и ОС файлы
.vscode/
.DS_Store
Thumbs.db

# 📦 JS / React build
# frontend
/front/node_modules/
/front/.next/
/front/.env.local


# 🚫 Другие потенциально лишние
*.bak
*.swp

# === Local/Temp configs ===
env.vps
front/.env.production
front/.env.production.save
front/src/component/header/navigation/NavigationBar.tsx.save
nginx.conf.save
front/src/utils/url.ts.save
nginx.conf
