<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenant Reliability Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Tenant Reliability Analysis</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% else %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Complaint Count</th>
                        {% if currentuser.is_superuser %}
                            <th>Random Forest Prediction</th>
                        {% else %}
                            <th>Prediction</th>
                        {% endif %}
                        <!--<th>KNN Prediction</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for tenant in tenants_predictions %}
                    <tr>
                        <td>{{ tenant.username }}</td>
                        <td>{{ tenant.complaint_count }}</td>
                        <td>{{ tenant.rf_prediction }}</td>
                        <!--<td>{{ tenant.knn_prediction }}</td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
